<div class="col-lg-8 mx-auto">
  <div class="card shadow">
    <div class="card-header">
      <h1>New content</h1>
    </div>
    <div class="card-body">
      <%= render "form", content: @content %>

      <br>

      <div>
        <%= link_to "Back to contents", contents_path %>
      </div>
    </div>
  </div>
</div>
