<div class="col-lg-8 mx-auto">
  <div class="card shadow">
    <div class="card-header">
      <h1>Editing page</h1>
    </div>
    <div class="card-body">

      <%= render "form", page: @page %>

      <br>

    </div>
  </div>
</div>
