<div class="col-lg-8 mx-auto">
  <div class="card shadow">
    <div class="card-header">
      <h1>Pages</h1>
    </div>
  </div>
  <br>
</div>

<div id="pages">
  <% @pages.each do |page| %>
    <div class="col-lg-10 mx-auto">
        <div class="card shadow">
          <div class="card-header">
            <h2><%= page.name %></h2>
          </div>
          <div class="card-body">
            <%= render page %>
            <p>
              <%= link_to "Show this page", page %>
            </p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "New page", new_page_path %>
