<div class="col-lg-12 mx-auto">
  <div class="card shadow">
    <div class="card-header">
      <h1>Page content</h1>
      <%= button_to "Add content", new_content_path(page_id: @page.id), method: :get, class: "btn btn-primary" %>
    </div>
    <div class="card-body">


      <div id="pages">
        <h2><%= @page.name %></h2>
        <% @content.each do |content| %>  
          <%= content.content %>
          <br>
        <% end %>
      </div>
    </div>
  </div>
</div>
