.navbar-brand {
  padding-left: 2vw;
  padding-right: 2vw;
  font-size: 2vw;
  font-weight: bold;
  font-family: 'Pacifico', cursive;
  font-style: italic;

  h1 {
    font-size: 2vw;
  }
}

.navbar-nav {
  gap: 1.3vw;

  .nav-item {
    font-size: 1.6vw;

    .nav-link {
      font-style: italic;
    }
  }
}