.navbar-brand {
  padding-left: 2vw;
  padding-right: 2vw;
  font-size: 2vw;
  font-weight: bold;
  font-family: 'Pacifico', cursive;
  font-style: italic;
}

.nav-item {
  font-size: 1.6vw;

  .nav-link {
    font-style: italic;
  }
}